<div class="sign-in-form">
  <h2 class="sign-in-form-title">Welcome back</h2>
  <p class="sign-in-form-text">Sign in to contine to IO Technologies.</p>
  <form>
    <label for="email">
      <input id="email" type="email" placeholder="Your email" name="email" required>
      <div>
        <span class="email-error">Ooops! You entered an invalid email</span>
      </div>
    </label>
    <label for="password">
      <input id="password" type="password" name="password" placeholder="Password" required>
      <div>
        <span class="pass-error">Ooops! You entered an invalid password</span>
      </div>
    </label>
    <button id="submit" type="submit">log in</button>
  </form>
  <p class="sign-in-form-forgot">
    Forgot your password? <a href="forgot.html">Reset</a>
  </p>
</div>